/* ================================= GLOBAL STYLES ================================= */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300');

/* ================================= NAVBAR STYLES ================================= */
.navbar { display: block; text-align: center; }
.navbar .container { justify-content: center; position: relative; }
.navbar .container p { margin-bottom: 0; }
.navbar .navbar-nav { flex-direction: row; gap: 2em; }
.navbar .navbar-brand { margin-right: 0; }
.navbar h1 { font-family: 'Comfortaa', cursive; }
.navbar h2 { font-size: calc(1rem + 0.4vw); font-weight: 100; }
.navbar a.navbar-brand, .navbar a.navbar-brand:link { text-decoration: none; color: black; }
.navbar .dark-mode-toggle { position: absolute; right: 1em; top: 1em; }

/* ================================= MASONRY STYLES ================================ */
.grid { margin: 0 auto; }
.grid-item { width: 300px; border: 1px solid lightgray; border-radius: 5px; padding: 1em; margin-bottom: 20px; }
.grid-item h2 { font-size: 1.5rem; border-bottom: 1px solid lightgray; padding-bottom: 0.25em; }

/* ================================= FOOTER STYLES ================================= */
footer { margin-top: auto!important; padding-top: 1rem!important; padding-bottom: 1rem!important; background-color: rgb(248, 249, 250); }
footer p { margin: 0; font-size: 0.8rem; color: #737373; text-align: center; }

/* =================================== DARK MODE =================================== */
.dark-mode { background-color: #222222; color: white; }
.dark-mode a { color: #30a7d1; }
.dark-mode .navbar a.navbar-brand, .dark-mode .navbar a.navbar-brand:link { color: white; }
.dark-mode footer { background-color: #444444; }
.dark-mode footer p { color: #939393; }
.dark-mode footer a { color: #30A7D1; }

/* ================================== PRINT STYLES ================================= */
@media print {
	
}