/* ================================= GLOBAL STYLES ================================= */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300');
.clear { clear: both; }
.pagebreak { display: none; }
#cookie-banner { position: fixed; bottom: 0; left: .75rem; width: 100%; z-index: 999; border-radius: 0; display: none; padding: 0.5em; font-size: 0.9em; align-items: center; }

/* ================================= NAVBAR STYLES ================================= */
.navbar { display: block; text-align: center; }
.navbar .sign-in { position: absolute; right: 1em; top: 1em; }
.navbar #signInButton { display: none; }
.navbar .dropdown { display: none; }
.navbar .dropdown i { margin-right: 0.5em; }
.navbar .container { justify-content: center; position: relative; }
.navbar .container p { margin-bottom: 0; }
.navbar .navbar-nav { flex-direction: row; column-gap: 2em; flex-wrap: wrap; justify-content: center; }
.navbar .navbar-brand { margin-right: 0; }
.navbar h1 { font-family: 'Comfortaa', cursive; }
.navbar h2 { font-size: calc(1rem + 0.4vw); font-weight: 300; }
.navbar a.navbar-brand, .navbar a.navbar-brand:link { text-decoration: none; color: black; }
.navbar hr { margin-bottom: 0; }
.expand-collapse { padding-top: 0; padding-bottom: 1.5rem; }
.expand-collapse li>a { cursor: pointer; }

/* ================================== CARD STYLES ================================== */
.card { margin-bottom: 1.5em; }
.card-header h2 { font-size: 1.35rem; margin-bottom: 0; }
.card-header i.bi { float: right; color: #30a7d1; font-size: 1.25rem; }
.card-header i.bi:focus, .card-header i.bi:hover, .card-header i.bi:active { color: #30d169; cursor: pointer; }
.card-body { padding: 0; }
.card-body .checklist { padding: 1rem; }
.card.completed::before { content: url("../assets/check-circle-fill.svg"); height: 1.5em; width: 1.5em; position: absolute; left: -0.5em; top: -0.5em; z-index: 10; }

/* ================================== KEEP STYLES ================================== */
p.keeplength { margin-left: 1em; font-weight: 500; }
p.keeplength::before { content: "\00BB"; position: relative; right: 0.5em; }

/* ================================= FOOTER STYLES ================================= */
footer { margin-top: auto!important; padding-top: 1rem!important; padding-bottom: 1rem!important; background-color: rgb(248, 249, 250); }
footer p { margin: 0; font-size: 0.8rem; color: #737373; text-align: center; }

/* =================================== DARK MODE =================================== */
.navbar .dark-mode-toggle { position: absolute; left: 1em; top: 1em; }
.dark-mode { background-color: #222222; color: white; }
.dark-mode a { color: #30a7d1; }
.dark-mode .navbar a.navbar-brand, .dark-mode .navbar a.navbar-brand:link { color: white; }
.dark-mode .card { background-color: unset; border-color: rgba(255, 255, 255, .25); }
.dark-mode .card-body .form-check-input { background-color: unset; border-color: rgba(255, 255, 255, .25); }
.dark-mode .card-body .form-check-input:checked { background-color: #0d6efd; border-color: #0d6efd; }
.dark-mode .card-header { background-color: rgba(255, 255, 255, .05); border-bottom-color: rgba(255, 255, 255, .25); }
.dark-mode footer { background-color: #444444; }
.dark-mode footer p { color: #939393; }
.dark-mode footer a { color: #30A7D1; }

/* ================================== PRINT STYLES ================================= */
@media only print {
	body.d-flex { display: block!important; }
	footer { display: none; }
	
	.navbar .navbar-brand img { width: 75px; height: 75px; }
	.navbar h1 { font-size: 1.5rem; }
	.navbar h2 { font-size: 1rem; }
	.navbar hr { margin-bottom: 1em; }
	.navbar .dark-mode-toggle, .navbar #nav-links, nav.expand-collapse { display: none; }
	
	.row { display: block; position: relative; }
	.col { display: block; float: left; width: 33.3333%; page-break-inside: avoid; break-inside: avoid; }
	.col:nth-of-type(3n+1) { clear: both; }
	/*.row>* { flex: 0 0 33%; width: 33%; }
	.card:nth-child(3n) { page-break-inside: avoid; break-inside: avoid; } */
	.card-header h2 { font-size: 1rem; }
	.card-header i { display: none; }
	.card-body { font-size: 11px; }
	.card-body .form-check { min-height: 1rem; }
	
	.footer p.d-print-block a { text-decoration: none; }
}